body {
  background-color: lightblue;
  font-size: 18px;
}
h1 {
  color: green;
}
p {
  background-color: pink;
  font-size: 30px;
  padding: 10px;
  border-radius: 8px;
}
ol {
  color: darkgreen;
  font-size: 20px;
}
body {
  background-color: blue;
}
img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

